 header {
    position: relative;
}

#userDropdownBtn:focus {
    outline: none;
    box-shadow: none;

}

.navIcon {
    color: white;
}

.navIcon:hover {
    color: white;
}

#userDropdownList {
    left: auto;
    right: 0;
    margin-right: -10px;

    background-color: #212529;

}

.userDropdownItem {
    text-decoration: none;
    background-color: #212529;
    color: white;

    margin: 0;
    padding: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
}

.userDropdownListItem:hover {
    background-color: #6c757d;
    color: white;
}

.userDropdownListItem:hover>.userDropdownItem {
    background-color: #6c757d;
    color: white;

}

#notifDropdownList {
    left: 650px;
    right: 0;
    margin-right: -10px;

    max-height: 300px;
    overflow: scroll;

    background-color: white;

}

.notifDropdownItem {
    text-decoration: none;
    background-color: white;
    color: #212529;

    border-bottom: #212529;

    margin: 0;
    padding: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
}

.notifDropdownListItem:hover {
    background-color: #6c757d;
    color: #212529;
}

.notifTime {
    margin-bottom: 2px;
}

.notifDropdownListItem:hover>.notifDropdownItem {
    background-color: #6c757d;
    color: white;

}

.overflow-scroll {
    max-width: 100%;
    overflow-x: hidden;
    height: 400px;

}

#deliveryNav {
    position: absolute;
    top: 75px;

}